@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.owner-container {
    background-color: #f9f9f9;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 0;
    transform: translateY(50px);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.owner-container.animate {
    opacity: 1;
    transform: translateY(0);
}

.owner-heading {
    font-size: 1.8rem;
    font-weight: 600;
    color:rgb(0, 26, 87);
    text-align: center;
    line-height: 1.6;

    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sign-in-button {
    font-size: 22px;
    font-weight:800;
    padding: 5px 15px;  
    border: 2px solid rgb(0, 26, 87);
    color: rgb(0, 26, 87);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.sign-in-button:hover {
    background-color: rgb(0, 26, 87);
    color: white;
}

.sign-in-button.animate-button {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .owner-container {
        font-size: 18px;
        padding: 15px;
    }

    .owner-heading {
        font-size: 1.5rem;
    }

    .sign-in-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .owner-container {
        font-size: 16px;
        padding: 10px;
    }

    .owner-heading {
        font-size: 1.2rem;
    }

    .sign-in-button {
        font-size: 12px;
        padding: 8px 16px;
    }
}
