.service_services {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.service_heading {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_service-1 {
    width: 100%;
    height: auto;
    font-size: 300%;
    text-align: center;
}

.service_matter {
    height: auto;
    width: 100%;
    padding: 20px;
    font-size: 150%;
    text-align: center;
}

.service_boxes {
    height: auto;
    width: 100%;
}

.service_main_box {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service_box {
    height: 120px;
    width: 340px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.service_image {
    border: 2px solid black;
    border-radius: 5px;
    height: 120px;
    width: 120px;
}

.service_data {
    padding: 20px;
}

.service_a {
    color: black;
    text-decoration: none;
}

.service_last {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

/* Responsive Design */

/* For Laptop Screens (1240px to 1440px) */
@media (min-width: 1240px) and (max-width: 1440px) {
    .service_box {
        width: 30%; /* 3 boxes in a row */
    }
}

/* For Tablets (768px to 1039px) */
@media (min-width: 768px) and (max-width: 1039px) {
    .service_box {
        width: 45%; /* 2 boxes in a row for 768px screen */
    }
}

/* For Mobile Screens (below 768px) */
@media (max-width: 767px) {
    .service_box {
        width: 90%; /* 1 box in a row for smaller screens */
    }
}
